body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    text-decoration: none;
    text-align: justify;
}

li {
    margin: 10px;
    text-decoration: none;
    text-align: justify;
}

p.footnote {
    margin: 20px;
    /*padding: 10px;*/
    font-size: 0.7em;
}

hr {
    margin: 20px;
    /*width: 50vw;*/
}

header {
    background-color: #365486;
    color: #DCF2F1;
    text-align: center;
    padding: 10px;
    animation: changeSeason 0s infinite;
    animation-play-state: running;
}

nav {
    background-color: #0F1035;
    padding: 10px;
    animation: changeSeasonColor 0s infinite;
    animation-play-state: running;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    background-color: #0F1035;
    color: white;
    text-align: center;
    padding: 5px;
    clear: both;
    animation: changeSeason 0s infinite;
}

header.clicked {
    background-color: #365486;
    color: #DCF2F1;
    text-align: center;
    padding: 10px;
    animation: changeSeason 51s ease-in infinite;
    animation-play-state: paused;
    -webkit-animation: changeSeason 51s ease-in infinite;
    -webkit-animation-play-state: paused;
    -webkit-animation-delay: 1s;
}



nav.clicked {
    background-color: #0F1035;
    padding: 10px;
    color: white;
    animation: changeSeasonColor 51s ease-in infinite;
    animation-play-state: paused;
    -webkit-animation: changeSeasonColor 51s ease-in infinite;
    -webkit-animation-play-state: paused;
}


nav.clicked a, h2.clicked {
    animation: changeSeasonText 51s ease-in infinite;
    animation-play-state: paused;
    -webkit-animation: changeSeasonText 51s ease-in infinite;
    -webkit-animation-play-state: paused;
}

@keyframes changeSeasonText {
    2% {
        color: #3DB845;
    }
    35% {
        color: #E08220;
    }
    60% {
        color: #804414;
    }
    85% {
        color: #80807D;
    }
}


@-webkit-keyframes changeSeasonText {
    2% {
        color: #3DB845;
    }
    35% {
        color: #E08220;
    }
    60% {
        color: #804414;
    }
    85% {
        color: #80807D;
    }
}


footer.clicked {
    background-color: #0F1035;
    color: white;
    text-align: center;
    padding: 5px;
    clear: both;
    animation: changeSeason 51s ease-in infinite;
    animation-play-state: paused;
    -webkit-animation: changeSeason 51s ease-in infinite;
    -webkit-animation-play-state: paused;
}


@keyframes changeSeason {
    2% {
        background-image: url("assets/backgrounds/springB4 F.jpeg");
        color: #3DB845;
    }
    35% {
        background-image: url("assets/backgrounds/springB3 F.jpeg");
        color: #E08220;
    }
    60% {
        background-image: url("assets/backgrounds/autumnB2 F.jpeg");
        color: #804414;
    }
    85% {
        background-image: url("./assets/backgrounds/winterB F.jpeg");
        color: #80807D;
    }
}


@-webkit-keyframes changeSeason {
    2% {
        -webkit-background-image: url("assets/backgrounds/springB4 F.jpeg");
        -webkit-color: #3DB845;
    }
    35% {
        -webkit-background-image: url("assets/backgrounds/springB3 F.jpeg");
        -webkit-color: #E08220;
    }
    60% {
        -webkit-background-image: url("assets/backgrounds/autumnB2 F.jpeg");
        -webkit-color: #804414;
    }
    85% {
        -webkit-background-image: url("./assets/backgrounds/winterB F.jpeg");
        -webkit-color: #80807D;
    }
}


@keyframes changeSeasonColor {
    2% {
        background-color: #00E74A;
        color: #3DB845;
    }
    35% {
        background-color: #F7EF00;
        color: #E08220;
    }
    60% {
        background-color: #DD9821;
        color: #804414;
    }
    85% {
        background-color: #EDF2EF;
        color: #80807D;
    }
}

@-webkit-keyframes changeSeasonColor {
    2% {
        background-color: #00E74A;
        color: #3DB845;
    }
    35% {
        background-color: #F7EF00;
        color: #E08220;
    }
    60% {
        background-color: #DD9821;
        color: #804414;
    }
    85% {
        background-color: #EDF2EF;
        color: #80807D;
    }
}


.extraction, .interest {
    display: flex;
    float: left;
}



.autumn, .trees, .snowflake {
    mix-blend-mode: multiply;
    cursor: pointer;
    display: none;
}

.fourSeasonTree {
    mix-blend-mode: multiply;
    float: left;
    width: 60%;
    height: auto;
    display: block;
}

.modal-content {
    mix-blend-mode: multiply;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 10vw;
    animation: fall 51s infinite forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    opacity: 0;
}

@keyframes fall {
    60% {
        transform: translateY(0vh);
        opacity: 1;
    }
    70% {
        transform: translateY(100vmin);
        opacity: 0;
    }
}

#img1 {
    animation-delay: 20.5s;
    left: 2vw;
    position: absolute;
}

#img2 {
    animation-delay: 20.1s;
    left: 10vw;
    top: 45vh;
    position: absolute;
}

#img3 {
    animation-delay: 20.2s;
    left: 21vw;
}

#img4 {
    animation-delay: 20.3s;
    left: 35vw;
    top: 25vh;
}

#img5 {
    animation-delay: 20.5s;
    left: 41vw;
}

#img6 {
    animation-delay: 20.6s;
    left: 63vw;
    top: 15vh;
}

#img7 {
    animation-delay: 20.8s;
    left: 87vw;
}





#imgS1 {
    /*animation-delay: 40.5s;*/
    left: 2vw;
    position: absolute;
}

#imgS2 {
    /*animation-delay: 40.1s;*/
    left: 10vw;
    top: 45vh;
    position: absolute;
}

#imgS3 {
    animation-delay: 40.2s;
    left: 21vw;
}

#imgS4 {
    animation-delay: 40.3s;
    left: 35vw;
    top: 25vh;
}

#imgS5 {
    animation-delay: 40.5s;
    left: 41vw;
}

#imgS6 {
    animation-delay: 40.6s;
    left: 63vw;
    top: 15vh;
}

#imgS7 {
    animation-delay: 40.8s;
    left: 87vw;
}

h2 {
    color: #365486;
    animation: changeSeasonText 0s infinite;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    animation: changeSeasonText 0s infinite;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

main.index {
    display: grid;
    text-align: center;
}

main.about p.s {
    display: grid;
    text-align: center;
}

section {
    padding: 20px;
    align-items: center;
}


section.forpigeon p {
    float: left;

}

img {
    float: left;
}


.messengerPigeon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "main";
    justify-items: center;
    align-items: center;
}

img#pigeonMiddle {
    mix-blend-mode: multiply;
    height: 22vh;
    width: 22vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1.5s infinite alternate;
}

@keyframes scaleUp {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(2);
    }
}

@keyframes pigeon {
    0% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(5vw) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(5vw) rotate(0deg);
    }
}


main.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "main";
    align-items: center;
    position: relative;
}


.text-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 22vh;
    width: 42vw;
    top: 20%;
    left: 5%;
    color: black;
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
}

.pigeon {
    mix-blend-mode: multiply;
    width: 9vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 30vw;
    animation: pigeon 2.5s linear infinite;
    background-repeat: repeat;
}


video#smokeWhite {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    background-repeat: repeat;
}


audio {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

button {
    font-size: 16px;
    color: #eee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 10%;
    padding: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(115, 67, 167, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

button.fade:hover {
    opacity: 0.8;
}

.fade {
    opacity: 0.2;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}


body.contact {
    background: black;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "main";
    justify-items: center;
    align-items: center;
}


video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
}

h1.smoke {
    position: absolute;
    top: 20%;
    left: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main";
    align-items: start;
    row-gap: 15%;
    color: white;
    font-size: 3em;
    letter-spacing: 0.1em;
}

span.smokeA, span.smokeB, span.smokeA.smokeS {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

span.smokeB > span, span.smokeS > span {
    flex-wrap: wrap;
    opacity: 0;
    animation: displayText 1s linear forwards;
}

@keyframes displayText {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}


span.smokeS1 span:nth-child(1) {
    animation-delay: 0s;
}

span.smokeS1 span:nth-child(2) {
    animation-delay: 0.15s;
}

span.smokeS1 span:nth-child(3) {
    animation-delay: 0.3s;
}

span.smokeS1 span:nth-child(4) {
    animation-delay: 0.45s;
}

span.smokeS1 span:nth-child(5) {
    animation-delay: 0.6s;
}

span.smokeS2 span:nth-child(1) {
    animation-delay: 0.75s;
}

span.smokeS2 span:nth-child(2) {
    animation-delay: 0.9s;
}

span.smokeS2 span:nth-child(3) {
    animation-delay: 1.05s;
}

span.smokeS2 span:nth-child(4) {
    animation-delay: 1.2s;
}

span.smokeS2 span:nth-child(5) {
    animation-delay: 1.35s;
}

span.smokeS2 span:nth-child(6) {
    animation-delay: 1.5s;
}

span.smokeS3 span:nth-child(1) {
    animation-delay: 1.65s;
}

span.smokeS3 span:nth-child(2) {
    animation-delay: 1.8s;
}

span.smokeS3 span:nth-child(3) {
    animation-delay: 1.95s;
}

span.smokeS3 span:nth-child(4) {
    animation-delay: 2.1s;
}

span.smokeS3 span:nth-child(5) {
    animation-delay: 2.35s;
}

span.smokeS3 span:nth-child(6) {
    animation-delay: 2.5s;
}

span.smokeS3 span:nth-child(7) {
    animation-delay: 2.65s;
}


span.smokeB span:nth-child(1) {
    animation-delay: 3.3s;
}

span.smokeB span:nth-child(2) {
    animation-delay: 3.6s;
}

span.smokeB span:nth-child(3) {
    animation-delay: 3.9s;
}

span.smokeB span:nth-child(4) {
    animation-delay: 4.2s;
}

span.smokeB span:nth-child(5) {
    animation-delay: 4.5s;
}

span.smokeB span:nth-child(6) {
    animation-delay: 4.8s;
}

span.smokeB span:nth-child(7) {
    animation-delay: 5.2s;
}

span.smokeB span:nth-child(8) {
    animation-delay: 5.5s;
}

span.smokeB span:nth-child(9) {
    animation-delay: 5.8s;
}

span.smokeB span:nth-child(10) {
    animation-delay: 6.1s;
}

span.smokeB span:nth-child(11) {
    animation-delay: 6.4s;
}

span.smokeB span:nth-child(12) {
    animation-delay: 6.7s;
}

span.smokeB span:nth-child(13) {
    animation-delay: 7s;
}

span.smokeB span:nth-child(14) {
    animation-delay: 7.3s;
}

span.smokeB span:nth-child(15) {
    animation-delay: 7.6s;
}


